@import url("https://fonts.googleapis.com/css2?family=Monomaniac+One&family=Playpen+Sans&display=swap");

:root {
  --lighter: #dbd7d7;
  --light: #5b5d63;
  --dark: #333;
  --darkest: #222;
  --black: black;

  --pink: #a651a3;
  --darkpink: #733871;
  --blue: rgba(93, 93, 202, 0.7);
  --red: rgba(218, 14, 14, 0.7);
}
* {
  box-sizing: border-box;
  user-select: none;
}
body {
  width: 100%;
  height: 100vh;
  font-size: 18px;
  background: var(--black);
  font-family: "Monomaniac One", sans-serif;
  overflow: hidden;
}
.main-container {
  position: relative;
  width: 80vmin;
  height: 80vmin;  
}

.players {
  display: flex;
  position: absolute;
  top: 0;
  height: 8vmin;
  width: 60%;
  background: var(--darkest);
  box-shadow: inset 0 0 20px var(--black);
  border-radius: 2rem;
  transition: all .5s;
  z-index: -1;
}
.players:first-child {
  transform: translateY(-50%);
}
.players:last-child {
  transform: translateY(50%);
}
.players:first-child.initial {
  transform: translateY(200%);
}
.players:last-child.initial {
  transform: translateY(-200%);
}
.players.turn {
  outline: 3px solid var(--pink);
  box-shadow: inset 0 0 4vmin var(--pink);
}
.players.flicker {
  animation: flicker .75s ease-in-out;
  background-color: var(--darker);
}

.pieces {
  display: flex;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 0 5%;
  font-family: "Playpen Sans", cursive;
  font-size: 5vmin;
  letter-spacing: 3vmin;
  transition: all .5s;
  overflow: hidden;
}
.pieces.o > span,
.pieces.x > span {
  transform: translateY(0);
  transition: all .5s;
}
.pieces.x > span.initial {
  font-size: 0px;
  transform: translateY(100%);
}
.pieces.o > span.initial {
  font-size: 0px;
  transform: translateY(-100%);
}


main {
  top: 0;
  left: 0;
  width: 75%;
  height: 75%;
  background-color: var(--dark);
  box-shadow: inset 0 0 10px #000;
  border-radius: 2rem;
  transition: background-color 1s
}
main .players:last-child {
  top: auto;
  bottom: 0;
}
main.flicker {
  box-shadow: inset 0 0 20px #fff;
  animation: flicker .75s ease-in-out;
}

.game-container {
  display: grid;
  width: 90%;
  height: 90%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 3%;
  transition: all .75s;
}
.game-container.initial {
  position: absolute;
  grid-template-columns: auto;
  grid-template-rows: auto;
  height: 40%;
}
.cells {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 0;
  border: .5vmin solid var(--darkest);
  border-radius: 1rem;
  background: var(--light);
  box-shadow: 5px 5px 5px var(--darkest);
}
.cells.selected {
  background: var(--darkest);
  font-size: 14vmin;
}
.cells.initial {
  display: none;
}
.cells:hover {
  color: var(--lighter);
  border: 8px solid var(--pink);
  background: var(--darkest);
  box-shadow: inset 0 0 1vmin var(--pink);
  animation: wiggly 1s ease infinite;
  transform-origin: center;
}
.cells:active {
  border: 8px solid var(--darkpink);
  background: #444;
}

.cells > .x,
.cells > .o {
  position: absolute;
  font-family: "Playpen Sans", cursive;
  transition: font-size 1s;
}

.x {
  color: var(--red);
  text-shadow: 0 0 20px var(--red);
}
.o {
  color: var(--blue);
  text-shadow: 0 0 20px var(--blue);
}

.wins {
  position: absolute;
  right: 0;
  color: #aaa ;
  font-family: "Monomaniac One", sans-serif;
  font-size: 8vmin;
  transform: translateY(-6%);
  transition: all 3s
}

.wins.initial {
  color: #222;
  font-size: 2px;
}


.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.disable {
  pointer-events: none;
}
@keyframes flicker {
  0% {
    background-color: rgba(0, 0, 0);
  }
  5% {
    background-color: rgba(75, 75, 75);
  }
  10% {
    background-color: rgba(0, 0, 0);
  }
  50% {
    background-color: rgba(50, 50, 50);
  }
  70% {
    background-color: rgba(75, 75, 75);
  }
  80% {
    background-color: rgba(20, 20, 20);
  }
}

@keyframes wiggly {
  0% {
    transform: rotate(0deg);
  }
  12% {
    transform: rotate(-5deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  37% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  62% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(10deg);
  }
  87% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
